a {
  
  box-shadow: inset 0 0 0 0 #F08080;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  letter-spacing: 1.2px;
  background-color: #FFF0F5;
  display: block;
  
 }

/* visited link */
a:visited {
  
  color: #DDA0DD;
  
}

/* mouse over link */
a:hover {
  
  color: #DDA0DD;
  box-shadow: inset 200px 0 0 0 white;
  letter-spacing: 1.5px;
}

/* selected link */
a:active {
  
  color: white;
}

b {
  
  color: pink;
}

aside {
  
  float: right;
  margin: 25px 25px 25px;
  padding: 70x;
  
}


h1 {
 
 color: #5e7564;
 font-family: "Trebuchet Ms";
 font-size: 35px;
 border: 5px solid pink;
 padding: 2px;
  
 }

h2 {
  
  color: #5e7564;
  font-family: "Trebuchet Ms";
  font-size: 20px;
  border: 5px solid pink;
  padding: 2px;
  
}

h3 {
  
  color: #5e7564;
  font-family: "Trebuchet Ms";
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  padding: 2px;
}

header {
  
  background-color: #FFF0F5;
  
}

nav {
  text-align: left;
  padding: 5px;
  display: inline;
  font-size: 14px;
  font-family: "Trebuchet Ms";
}

div {
 display: block;
 border: 3px dashed #FFE4C4;
 padding: 100px;
 height: 90%;
 margin: 75px;
 
}

 .list {
  background-color: white;
}

label {
  
  font-family: "Trebuchet Ms";
  font-size: 16px;
  padding: 2px;
  margin-right: 10px;
}

img {
  border-radius: 60px;
}

p {
  
 background-color: Ivory White;
 color: black;
 font-family: "Trebuchet Ms";
 font-size: 16px;
 padding: 2px;
 margin-right: 5px;
 
}

ol {
  
  list-style-type: square;
  font-family: "Trebuchet Ms";
  
}

ul {
  
  list-style-type: square;
  font-family: "Trebuchet Ms";
  
}

