h1 {
 
 color: #5e7564;
 font-family: "Trebuchet Ms";
 font-size: 35px;
 }

div {
 display: block;
 border-style: dotted;
 border-width: 2px;
 
}

 .list {
            background-color:  #e6ffe6;
        }

p {
 background-color: Lavender;
 color: Navy;
 font-family: "Trebuchet Ms";
 font-size: 16px;
 
}

 .Portfolio {
   background-color: #ffe6f2;
}

ol {
  list-style-type: upper-roman;
}

ul {
  list-style-type: square;
}

