a {
  color: pink;
  border: 5px rounded #ffe6f2;;
 }

h1 {
 
 color: #5e7564;
 font-family: "Trebuchet Ms";
 font-size: 35px;
 border: 5px solid pink;
 }

h2 {
  
  color: #5e7564;
  font-family: "Trebuchet Ms";
  font-size: 20px;
  border: 5px solid pink;
  
}

h3 {
  
  color: #5e7564;
  font-family: "Trebuchet Ms";
  font-size: 18px;
  border: 5px solid pink;
  
}

div {
 display: block;
 border: 2px dotted pink;
 width: 300px;
 padding: 50px;
 margin: 20px;
 
}

 .list {
            background-color: #ffe6f2;
        }

p {
 background-color: Lavender;
 color: Navy;
 font-family: "Trebuchet Ms";
 font-size: 16px;
 
}

 .Portfolio {
   background-color: #ffe6f2;
}

ol {
  list-style-type: upper-roman;
  font-family: "Trebuchet Ms";
}

ul {
  list-style-type: square;
  font-family: "Trebuchet Ms";
}

